<div class="transbox5">
    <form #registration="ngForm" (ngSubmit)="registrationForm(registration)">
        <p>
            <label>Name</label>
            <input type="text" name="ename" minlength="3" maxlength="10" required pattern="[A-Za-z ]+$" #ename="ngModel"
                [(ngModel)]="EmployeeValidation.ename">
        </p>
        <div *ngIf="ename.errors && (ename.dirty || ename.touched)">
            <div [hidden]="!ename.errors.required">
                <h2>Please Enter name</h2>
            </div>
            <div [hidden]="!(ename.errors.minlength || ename.errors.maxlength)">

                <h2>Length of the name should be min of 3 and max of 10 character</h2>
            </div>
            <div [hidden]="!ename.errors.pattern">
                <h2>Special characters and numbers are not allowed</h2>
            </div>
        </div>
        <p>
            <label>Email</label>
            <input type="email" name="eemail" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+$"
                #eemail="ngModel" [(ngModel)]="EmployeeValidation.eemail">
        </p>
        <div *ngIf="eemail.errors && (eemail.dirty || eemail.touched)">
            <div [hidden]="!eemail.errors.required">
                <h2>Please Enter email</h2>
            </div>


            <div [hidden]="!eemail.errors.pattern">
                <h2>Enter proper email</h2>
            </div>
        </div>
        <p>
            <label>Contact</label>
            <input type="text" name="econtact" maxlength="10" required pattern="[0-9]+$" #econtact="ngModel"
                [(ngModel)]="EmployeeValidation.econtact"><br>
        </p>
        <div *ngIf="econtact.errors && (econtact.dirty || econtact.touched)">
            <div [hidden]="!econtact.errors.required">
                <h2>Enter contact number</h2>
            </div>
            <div [hidden]="!econtact.errors.pattern">
                <h2>Only numbers are allowed</h2>
            </div>
        </div>
        <p>
            <label>DOB</label>
            <input type="date"  name="edob" #edob="ngModel" [(ngModel)]="EmployeeValidation.edob"><br>
        </p>

        <p><label>Gender:</label>
            <input type="text" name="egender" #egender="ngModel" [(ngModel)]="EmployeeValidation.egender"><br>
        </p>

        <p>
            <label>Password</label>
            <input type="password" name="epassword" maxlength="18" minlength="8" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&_-])[a-zA-Z0-9$@$!%*#?&_-]+$"
                #epassword="ngModel" [(ngModel)]="EmployeeValidation.epassword"><br>
        </p>

        <div *ngIf="epassword.errors && (epassword.dirty || epassword.touched)">
            <div [hidden]="!epassword.errors.required">
                <h2>Please Enter Password</h2>
            </div>
            <div [hidden]="!epassword.errors.pattern">
                <h2>Enter valid password</h2>
            </div>
            <div [hidden]="!(epassword.errors.minlength || epassword.errors.maxlength)">
            </div>

        </div>
        <p><label>Confirm Password</label>
            <input type="password" name="econpass" #econpass="ngModel" required
                [(ngModel)]="EmployeeValidation.econpass"><br>
        </p>
        <div *ngIf="econpass.touched && econpass.invalid">
            <div [hidden]="!epassword.errors.required">
                <h2>Please Enter Confirm Password</h2>
            </div>
        </div>
        <div *ngIf="econpass.value != epassword.value">

            <h2>Password Does not match with confirm password</h2>

        </div>
   
        <button class="button" [disabled]="registration.invalid" >Register</button><button
            class="button" (click)=ClearForm()>Back to home page</button><br><br><br>
        <div class="alert alert-info" *ngIf=isAdded routerLink="/Login">
            <p>User Added SuccessFully!</p>
        </div>
    </form>
</div>
<router-outlet></router-outlet>