<header>
	<div class="overlay">
<h1>Employee Record</h1>
	<br>
	<!-- <button style="margin:10px;" >View Employee Details</button>
    <button style="margin:10px;">Save Employee Details</button>
    <button style="margin:10px;">Save Employee Details</button>
    <button style="margin:10px;">Save Employee Details</button> -->
 <!--    <a routerLink="/Registration" style="margin:10px; width:80px;" class="button button5" >Register</a>
    <a routerLink="/Login"class="button button5">Login</a> -->
		</div>
</header>

