<div class="transbox3">
    <h1 style="text-align: center;">Update User by Email</h1>
    <form #updation="ngForm" (ngSubmit)="updateForm1(updation)">

        <p>
            <label>Name</label>
            <input type="text" name="ename" minlength="3" maxlength="10" pattern="[A-Za-z ]+$" #ename="ngModel"
                [(ngModel)]="EmployeeValidation.ename">
        </p>
        <div *ngIf="ename.errors && (ename.dirty || ename.touched)">


            <div [hidden]="!(ename.errors.minlength || ename.errors.maxlength)">

                <h2>Length of the name should be min of 3 and max of 10 character</h2>
            </div>
            <div [hidden]="!ename.errors.pattern">
                <h2>Special characters and numbers are not allowed</h2>
            </div>
        </div>
        <p>
            <label>Email</label>
            <input type="email" name="eemail" required placeholder="{{this.empll.email}}"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+$" #eemail="ngModel"
                [(ngModel)]="EmployeeValidation.eemail">
        </p>
        <div *ngIf="eemail.errors && (eemail.dirty || eemail.touched)">
            <div [hidden]="!eemail.errors.required">
                <h2>Please Enter email</h2>
            </div>
            <div [hidden]="!eemail.errors.pattern">
                <h2>Enter valid email</h2>
            </div>
        </div>
        <p>
            <label>Contact</label>
            <input type="text" name="econtact" maxlength="10" pattern="[0-9]+$" #econtact="ngModel"
                [(ngModel)]="EmployeeValidation.econtact"><br>
        </p>
        <div *ngIf="econtact.errors && (econtact.dirty || econtact.touched)">

            <div [hidden]="!econtact.errors.pattern">
                <h2>Only numbers are allowed</h2>
            </div>
        </div>

        <button class="button" [disabled]="updation.invalid">Update</button>
        <button class="button" (click)="ClearForm()">Clear</button><br><br><br>
        <div class="alert alert-info" *ngIf=isAdded routerLink="/Login">
            <p>User Added SuccessFully!</p>
        </div>
    </form>

</div>

<router-outlet></router-outlet>