<div style="margin-left: 71.6pc; margin-top:-1.5pc;"> <a routerLink="/view" class="button button5" (click)=logoutForm()>Logout</a></div>  
<div style="margin-left: 60pc; margin-top:5pc;"> <a routerLink="/update" class="button">Update Employee</a></div>

   
    <table style="margin-top: 10pc;">
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact Number</th>
    <th></th>
  </tr>
  <tr *ngFor="let empData of emplData">
    <td>{{empData.eid}}</td>
    <td> {{empData.name}}</td>
    <td>{{empData.email}}</td>
    <td>{{empData.contact}} </td>
    <td><button class="button" (click)=deleteEmployee(empData.eid)>Delete</button></td>
  </tr>