<!-- <div>
  <input type="text" #myInput [(ngModel)]="fname" (input)=onSearch()/> {{fname}}
</div> -->
<div class="search">
  <p><input type="text" [(ngModel)]="term" placeholder="What are you looking for?"><span
      style="text-align: center; margin-left: 3.5pc;">Search</span> </p>
</div>
<table style="margin-top: 2pc;">
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact Number</th>
    <th></th>
  </tr>
  <tr *ngFor="let empData of emplData  | filter:term">
    <td>{{empData.eid}}</td>
    <td> {{empData.name}}</td>
    <td>{{empData.email}}</td>
    <td>{{empData.contact}} </td>
    <td><button class="button" (click)=deleteEmployee(empData.eid,empData.name)>Delete</button>
  </tr>
</table>